apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: notifications
  name: notifications
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      containers:
      - image: asia-south1-docker.pkg.dev/sleepr-485709/notifications/production
        name: notifications
        env: 
        - name: TCP_PORT
          value: "3000"
        - name: SMTP_USER
          value: "friends.deepesh@gmail.com"
        - name: GOOGLE_OAUTH_CLIENT_ID
          value: 1031177875935-j3256gqm1jf79m2inpd9tvor6c67ffho.apps.googleusercontent.com
        - name: GOOGLE_OAUTH_CLIENT_SECRET
          valueFrom:
            secretKeyRef: 
              name: google
              key: clientSecret
        - name: GOOGLE_OAUTH_REFRESH_TOKEN
          valueFrom:
            secretKeyRef: 
              name: google
              key: refreshToken
        ports: 
          - containerPort: 3000
